.nav{
    display: flex;
    gap: 30px;
    margin-left: 20px;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
}
.bar{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 30px;
}
body{
    background-image: url("https://img.magnific.com/premium-photo/tourism-trip-concept_670147-8850.jpg?semt=ais_test_b&w=740&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.content{
    color: white;
    text-align: center;
    margin-top: 130px;
    font-weight:bolder;
    font-size: 30px;
}
.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    color: white;
    gap: 10px;
}
.button{
    border: 2px solid white;
    padding: 10px;
    color: white;
    background-color: transparent;

}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

